<div class="opacity-40 w-11/12 flex justify-evenly p-2 fixed bottom-0 items-center shadow-md shadow-black ml-[5%] bg-white rounded-t-md">
<a href="mailto:{{email}}"><mat-icon>email</mat-icon></a>
<mat-icon (click)="towhatsapp('https://wa.me/254712632595')">whatsapp</mat-icon>
<p (click)="towhatsapp('https://twitter.com/MainaWanini')" class=" h-full items-center"> 
    <span class="iconify" data-icon="akar-icons:twitter-fill" data-width="25" data-height="25"></span>
    

</p>
<!-- <a href="mailto:{{email}}"><mat-icon>attach_email</mat-icon></a> -->
<span class="iconify" data-icon="fa:github-square" data-width="25" data-height="25"></span>
<!-- <i class="fa fa-id-badge fa-3x" aria-hidden="true"></i> -->


</div>