<div
  class="mt-10 border-t-[40px] border-l-[40px] border-zinc-500 h-full md:h-[510px] w-full flex flex-col md:flex-row rounded-md justify-evenly"
>
  <div
    class="mt-[-70px] ml-0 md:ml-0 md:mt-0 p-14 shadow-md w-full md:w-1/2 bg-white rounded-tl-md"
  >
    <img
      src="../../assets/W.png"
      alt=""
      class="w-20 h-20 shadow-md rounded-full -mt-10"
    />

   
    <app-form></app-form>
  </div>
  <div
    class="bg-zinc-300 ml-0 md:ml-0 md:mt-0 p-6 shadow-md w-full md:w-1/2 rounded-tr-md"
  >
    <p class="font-serif font-light mt-10">
      "When the going gets tough, the tough get going."
    </p>
    <div class="mt-20 ml-5">
      <h4 class="">Skills that could be of service to you:</h4>
      <div *ngFor="let service of services" class="flex">

        <li>{{ service }}</li>
      </div>
    </div>

    <div class="services-all"></div>
  </div>
</div>
