<div class="absolute m-20 flex flex-row justify-around text-white font-mono mt-60">
<div class="w-1/2">
<h1 class="text-slate-300">Hello, I am <b>Joan Maina</b> </h1>
<p class="text-2xl">Full-stack web developer</p>
<p class="text-xl">I love javascript. <br> That's why I use on both front-end and back-end. React and Angular are a great tool on the frontend  <br> and Node a great one to use on the back-end.
</p>
</div>
<div class="-mt-20">
<img src="../../../assets//IMG_1009.jpg" alt="Joan" class="w-48 h-72 rounded-full border-none  hover:-translate-x-20 hover:scale-125">
</div>
</div>