<p>You can never get a cup of coffee large enough or a book long enough to suit me. I love reading and writing. Here are some articles I have worked on:</p>
<div class="h-full flex justify-evenly">

<div class="h-[200px] flex-col w-[150px]"     *ngFor="let article of articles"
>
<a href={{article.link}}>
  <p>{{article.title}}</p>
  <img
    src={{article.image}}
    alt="project"
    class="object-cover h-full"
    #tooltip="matTooltip"
    matTooltip="Check out the project"
    matTooltipPosition="right"
/></a>
</div>
</div>
